<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Mawuva Query FilterTest Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_DEBUG" value="1"/>
        <server name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing" />
        <env name="APP_KEY" value="dnbw4w8w92mrudm9wxdt6bjw5kf7v9ep"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
